@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --width: 1200px; /* css variable */
}

body {
  color: #fff;
  background-color: rgb(17, 18, 34);
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: 0.5s ease;
  border-bottom: 1px solid transparent;
  margin-left: 2rem;
}

a:hover {
  border-bottom: 1px solid #fff;
}

a:nth-child(1) {
  margin-left: 0;
}

header {
  position: sticky;
  top: 0;

  background-color: rgb(12, 13, 24);
  color: #fff;
  width: 100%;
  padding: 2rem 0; /* 1rem = 16px */
}

header .wrapper {
  max-width: var(--width);
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

form {
  max-width: 600px;
  width: 100%;
}

h1 {
  margin-bottom: 2rem;
}

h5 {
  color: red;
  font-weight: normal;
  padding-top: 1rem;
  display: none;
}

.input-section p {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.input-section {
  margin-bottom: 2rem;
}

.input-section input {
  padding: 0.5rem;
  max-width: 500px;
  width: 100%;
  border-radius: 50px;
  border: none;
}

button {
  background-color: rgb(224, 101, 0);
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  box-shadow: 0px 0px 20px rgb(224, 101, 0);
}

@media screen and (max-width: 1250px) {
  header {
    padding: 2rem 1rem;
  }
}
